<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="PSBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="PSBehavior" name="PubSubLib.PubSub">
                <clear />
                <endpoint address="PS" binding="wsDualHttpBinding" name="PSEP"
                    contract="PubSubLib.ILongCompute" listenUriMode="Explicit">
                    <identity>
                      <dns value="localhost" />
                      <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="PC" binding="basicHttpBinding" name="PCEP"
                    contract="PubSubLib.IPriceChange" listenUriMode="Explicit">
                    <identity>
                      <dns value="localhost" />  
                      <certificateReference storeName="My" storeLocation="LocalMachine"
                            x509FindType="FindBySubjectDistinguishedName" />
                    </identity>
                </endpoint>
                <endpoint address="SP" binding="wsDualHttpBinding" bindingConfiguration=""
                    name="SPEP" contract="PubSubLib.IStocks" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7060/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>