<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PCEP" />
                <binding name="PCEP1" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="PSEP" />
                <binding name="PSEP1" />
                <binding name="SPEP" />
                <binding name="PSEP2" />
                <binding name="SPEP1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7060/PS" binding="wsDualHttpBinding"
                bindingConfiguration="PSEP" contract="PS.ILongCompute" name="PSEP">
                <identity>
                    <userPrincipalName value="APPA\admin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/PS" binding="wsDualHttpBinding"
                bindingConfiguration="PSEP1" contract="PC.ILongCompute" name="PSEP1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/PC" binding="basicHttpBinding"
                bindingConfiguration="PCEP" contract="PC.IPriceChange" name="PCEP" />
            <endpoint address="http://localhost:7060/SP" binding="wsDualHttpBinding"
                bindingConfiguration="SPEP" contract="PC.IStocks" name="SPEP">
                <identity>
                    <userPrincipalName value="APPA\admin" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/PS" binding="wsDualHttpBinding"
                bindingConfiguration="PSEP2" contract="SP.ILongCompute" name="PSEP2">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7060/PC" binding="basicHttpBinding"
                bindingConfiguration="PCEP1" contract="SP.IPriceChange" name="PCEP1" />
            <endpoint address="http://localhost:7060/SP" binding="wsDualHttpBinding"
                bindingConfiguration="SPEP1" contract="SP.IStocks" name="SPEP1">
                <identity>
                    <userPrincipalName value="APPA\admin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>